<h1>All Blogs</h1>
<p>
    {{#each showBlogs}}
    <a href="/{{this.id}}">
<div>
    <h2>
        {{this.post_title}}
    </h2>
    Created on: {{dateFormat this.createdAt "MM/DD/YYYY (h:mm a)"}} By user: {{this.User.name}}
</div>
</a>
{{/each}}
</p>