<h1>All Blogs</h1>
<p>
    {{#each showBlogs}}
    <a href="/{{this.id}}" class="link-warning text-decoration-none">
<div>
    <h2>
        {{this.post_title}}
    </h2></a>
    <div class="fs-6">
    Posted on {{dateFormat this.createdAt "MM/DD/YYYY (h:mm a)"}} by user{{this.User.name}}
    </div>
</div>

{{/each}}
</p>